@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
/* font-family: 'Righteous', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@400;700&family=Righteous&display=swap');
/* font-family: 'Recursive', sans-serif; */

*{
    box-sizing: border-box;
    font-style: normal;
}

body{
    background-color: #FB6B6B;
}

.start{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.start img{
    width: 136px;
    height: 161px;
}
.start h1{
    margin-bottom: 30px;
    margin-top: 13px;

    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: -0.012em;
    color: #FFFFFF;
}
.start button{
    font-family: 'Recursive', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    cursor: pointer;
    width: 246px;
    height: 54px;
    color: #D70900;
    background-color: #FFFFFF;
    border: 1px solid #D70900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}
/*----------------------------------------------------*/
.play{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 54px;
}
.logo img{
    height: 60px;
    width: 52px;
    margin-right: 17px;
}
.logo h2{
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: -0.012em;
    color: #FFFFFF;
    display: flex;
    align-items: center;
}
/*--------------------*/
.play ul{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-bottom: 192px;
}
li{
    position: relative;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    display: flex;
}
li p{
    color: #333333;
    margin-left: 15px;
    font-family: 'Recursive', sans-serif;
}
li img{
    cursor: pointer;
}
/*----------*/
.stage0{
    width: 300px;
    height: 65px;
    background-color: #FFFFFF;
}
.stage0 p{
    margin-top: 23px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}
.stage0 img{
    margin-top: 20px;
    margin-left: 163px;
    width: auto;
    height: 23px;
}
/*----------*/
.stage1{
    width: 299px;
    height: 131px;
    background: #FFFFD5;
}
.stage1 p{
    margin-top: 18px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}
.stage1 img{
    position: absolute;
    margin-left: 254px;
    margin-top: 105px;
}
/*----------*/
.stage2{
    display: flex;
    flex-direction: column;
    width: 300px;
    background: #FFFFD5;
}
.stage2 p{
    width: 270px;
    margin-bottom: 22px;
    margin-top: 18px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}
.buttonContainer{
    display: flex;
    bottom: 0;
    margin-left: 13px;
    margin-bottom: 10px;
    column-gap: 8px;
}
.buttonContainer button {
    font-family: 'Recursive', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;

    cursor: pointer;
    width: 85.17px;
    height: 37.17px;
    border-radius: 5px;
    border: none;
}
.buttonContainer button:nth-child(1){
    background-color: #FF3030;
}
.buttonContainer button:nth-child(2){
    background-color: #FF922E;
}
.buttonContainer button:nth-child(3){
    background-color: #2FBE34;
}
/*----------*/
.cursorDefault {
    cursor: default;
}
.answer {
    text-decoration-line: line-through;
}
.erro{
    color: #FF3030;
}
.quase{
    color: #FF922E;
}
.certo{
    color: #2FBE34;;
}
/*--------------------*/
.result{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: 70px;
    background: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}
.result p{
    font-family: 'Recursive', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
}
.resultIcons {
    display: flex;
    margin-top: 6px;
    column-gap: 5px;
}
.resultMessage {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.resultMessage span{
    font-size: 23px;
}
.resultMessage p {
    font-family: 'Recursive', sans-serif;
    color: #333333;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 14px;
    font-weight: 400;
}
.resultMessage p:nth-child(1) {
    font-weight: 700;
}
.finalHeight{
    height: 171px;
}
