*{
    box-sizing: border-box;
    font-style: normal;
}

body{
    background-color: #FB6B6B;
}
/*----------------------------------------------------*/
.play{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 54px;
}
.logo img{
    height: 60px;
    width: 52px;
    margin-right: 17px;
}
.logo h2{
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: -0.012em;
    color: #FFFFFF;
    display: flex;
    align-items: center;
}
.play ul{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-bottom: 192px;
}
/*--------------------*/
.result{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: 70px;
    background-color: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}
.result p{
    font-family: 'Recursive', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
}
.resultIcons {
    display: flex;
    margin-top: 6px;
    column-gap: 5px;
}
.resultMessage {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.resultMessage span{
    font-size: 23px;
}
.resultMessage p {
    font-family: 'Recursive', sans-serif;
    color: #333333;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 14px;
    font-weight: 400;
}
.resultMessage p:nth-child(1) {
    font-weight: 700;
}
.finalHeight{
    height: 171px;
}
